</div>
<div class="jumbotron">
  <div class="container jumbotext">
    <h1>Kexchange</h1>
    <p>exchange for your dream card</p>
    <%= link_to 'Sign up now', new_user_path, class:'btn btn-primary btn-lg jumbobtn' %>
  </div>
