</div>
<div class="jumbotron">
  <div class="container jumbotext">
    <h1>Kexchange</h1>
    <p><%= t 'home.jumbotron.description' %></p>
    <%= link_to t('home.jumbotron.sign_up'), new_user_path, class:'btn btn-default btn-lg jumbobtn' %>
    <%= link_to t('home.jumbotron.login'), login_path, class:'btn btn-default btn-lg jumbobtn-login' %>
  </div>
