<% i = 0 %>
<% colors = ['btn-default','btn-revtheme','btn-sectheme'] %>
<% objects.each do |object| %>
  <% if i % 2 == 0 %>
    <div class="row">
  <% end %>
  <div class="col-xs-6">
    <% if is_card %>
      <% name = object.member.name %>
    <% else %>
      <% name = object.name %>
    <% end %>
    <%= link_to name, object, class:"btn #{colors[i%3]} btn-block" %>
  </div>
  <% if (i+1) % 2 == 0 %>
    </div>
    <br>
    <br>
  <% end %>
  <% i+=1 %>
<% end %>
<% unless i % 2 == 0 %>
  </div>
<% end %>
<br>
