<div class="page-header">
  <h2>Welcome to Kexchange!</h2>
</div>
<h4>The site is still under construction, stay turned for real soon updates!</h4>
<br>
<p>You can check your profile detail at edit profile on top right</p>
