<div class="jumbotext">
<div class="building">
<div class="page-title">
  <h2><%= t 'building.title' %></h2>
</div>
<h5><%= t 'building.body' %></h5>
<br>
<p><%= t 'building.hint' %></p>
</div>
</div>
