<div class="jumbotext">
<div class="page-title">
  <h2>Welcome to Kexchange!</h2>
</div>
<h5>The site is still under construction, stay turned for real soon updates!</h5>
<br>
<p>You can check your profile detail at edit profile on top right</p>
</div>
