<br>
<div class="progress">
  <div class="progress-bar progress-bar-ktheme progress-bar-striped active" role="progressbar" aria-valuenow="<%= value %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2%; width: <%= value %>%">
    <span class="sr-only"><%= value %>% Complete</span>
  </div>
</div>
<hr>
