.dropdown-menu {
  padding: 20px;
}
// .dropdowninput {
//   padding:50px;
// }

$theme: #FF6666;
$text: #FFFFFF;
$hover: #FFE6FF;

.navbar-default {
    background-color: $theme;
    // border-color: #E7E7E7;
}
.navbar-default input {
    color: $theme;
    // border-color: #E7E7E7;
}
@media (max-width: 767px) {
  .navbar-default input {
      color: $text;
  }
}
.navbar-default input.black {
    color: $theme;
    // border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: $text;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: $hover;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: $text;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: $hover;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: $theme;
    background-color: $text;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: $theme;
    background-color: $text;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 48px;
  background-color: $theme;
  color: $text;
  .text {
    padding-top: 12px;
  }
}
.footer-drop > li > a{
  color: $theme;
}
.langbtn {
  margin-top: 8px;
}
.lang_select_lang_select {
  margin-bottom: 0px;
}
#lang_select_lang_select {
  height: 35px;
}
a.white:hover,a.white:focus,a.white {
  color: $text;
}
