// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$theme: #FF6666;
$text: #FFFFFF;
$sectheme: #5D5D5D;
$sectext: $text;
$hover: #FFE6FF;

.requestnonetext {
  padding-top: 3vh;
  padding-bottom: 2vh;
  text-align:center;
  @media (max-width: 767px) {
    padding-top: 2vh;
    padding-bottom: 1vh;
  }
}

.label-light {
  padding: .1em .6em .2em;
  font-size: 70%;
  font-weight: bold;
  line-height: 1;
}

.radio-text {
  padding-bottom: 20px;
}

.createbtn {
  padding-top: 25px;
}

.btn-request {
  white-space: normal;
  word-wrap:break-word;
}

.request-btn-desktop {
  display: block !important;
}
.request-btn-mobile {
  display: none !important;
}

@media (max-width: 767px) {
  .btn-msg {
    padding-left: 4px;
    padding-right: 4px;
  }
  .createbtn {
    .btn {
      html[lang="en"] & {
        font-size: 11px;
      }
    }
  }
  .request-title {
    h3 {
      html[lang="en"] & {
        font-size: 2.4em;
      }
    }
  }
  .panel-col {
    html[lang="zh-CN"] & {
      padding-right: 8px;
    }
  }
  .request-btn-desktop {
    display: none !important;
  }
  .request-btn-mobile {
    display: block !important;
  }
}

.panel-btngroup-divider {
  padding-bottom: 70px;
}

[data-toggle="buttons"] {
  .btn input[type="radio"],
  .btn-group > .btn input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
}

.content-bottom-divider {
  padding: 15px;
  @media (max-width: 767px) {
    padding: 0px;
  }
}
