.nospace {
  margin-bottom: auto;
  /*min-height: 300px;*/
}
// .jumbotron {
//   margin-top: -20px;
// }
.jumbotext {
  padding: inherit;
  text-align:center;
}
.jumbobtn {
  margin-top: 20px;
  margin-bottom: -20px;
}
