// .nospace {
//   margin-bottom: auto;
//   /*min-height: 300px;*/
// }
$theme: #FF6666;
$text: #FFFFFF;
body {
  // color: $theme;
  padding-top: 60px;
}
.btn {
  color: $theme;
  // background-color: $theme;
}
.jumbotron {
  background-color: $text;
  .btn {
    color: $text;
    background-color: $theme;
  }
  h1 {
    color: $theme;
  }
}
.jumbotext {
  padding-top: 16vh;
  padding-bottom: 7vh;
  text-align:center;
}
@media (max-width: 767px) {
  .jumbotext {
      padding-top: 11vh;
      padding-bottom: 4vh;
  }
  .jumbotron {
    h1 {
      font-size: 3.5em;
    }
    p {
      padding-top: 10px;
      font-size: 1.3em;
    }
    .btn {
      font-size: 1.1em;
    }
  }
}
.jumbobtn {
  margin-top: 20px;
  margin-right: 10px;
}
.jumbobtn-login {
  margin-top: 20px;
  padding-left: 42px;
  padding-right: 42px;
  margin-left: 10px;
}
.page-header,.page-title {
  h1,h2,h3 {
    color: $theme;
  }
}
.page-title {
  padding: 20px;
}
