<div class="jumbotext">
<div class="central-title">
  <h2><%= t 'building.title' %></h2>
</div>
<h5><%= t 'building.body' %></h5>
<br>
<p><%= t 'building.hint' %></p>
<br>
<div class='center-block'>
  <%= link_to t('back') :back, class: 'btn btn-default' %>
</div>
</div>
