<div class="footer">
  <div class="container foottext">
    <p>&copy;&nbsp;<%= Date.today.year %>&nbsp;&nbsp;<a href="http://www.seacen.tk/me" target="_blank" class="white">Seacen&trade;<%= t 'footer.tech' %></a><%= t 'footer.copyright' %></p>
  </div>
</div>
