<div class="footer">
  <div class="container foottext">
    <p>&copy;&nbsp;2015&nbsp;&nbsp;<a href="http://www.seacen.tk/me" target="_blank" class="white">Seacen&trade; Tech</a> All Right Reserved</p>
  </div>
</div>
